<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Basic Page Needs-->
	<meta charset="utf-8">
	<title>CafeHome</title>

	<!-- Mobile Specific Metas-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS-->
	<link rel="stylesheet" th:href="@{css/zerogrid.css}">
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/lightbox.css}">

	<!-- Custom Fonts -->
	<link th:href="@{font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

	<link rel="stylesheet" th:href="@{css/menu.css}">
	<script th:src="@{js/jquery1111.min.js}" type="text/javascript"></script>
	<script th:src="@{js/script.js}"></script>

	<!-- stylesheet css -->
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{css/templatemo-gray.css}">

	<style>
		.copyright{background: #151515;color: #999;}
		.copyright .wrapper{padding: 20px;}
		.copyright ul.quick-link{float: right;}
		.copyright ul.quick-link li {display: inline-block;margin-right: 10px;}
		.copyright a{}
		#updateUserInfo{background-color: #333;border-radius: 4px; padding: 10px 15px;color: #fff;}
		#loginOut{background-color: #333;border-radius: 4px; padding: 10px 15px;color: #fff;}
		#updateUserInfo:hover{background-color: #eee;color: #333;}
		#loginOut:hover{background-color: #eee;color: #333;}
	</style>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">
	<!-- javascript js -->
	<script th:src="@{js/jquery.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/jquery.backstretch.min.js}"></script>
	<script th:src="@{js/custom.js}"></script>

	<div class="wrap-body">
		<div class="header">
			<div id='cssmenu' >
				<ul>
					<li><a href='hearing'><span>首页</span></a></li>
					<li><a href='articleSum?category=modernPoetry&page=1'><span>现代诗歌</span></a></li>
					<li><a href='articleSum?category=ancientPoetry&page=1'><span>唐诗宋词</span></a></li>
					<li><a href='articleSum?category=prose&page=1'><span>随笔散文</span></a></li>
					<li><a href='articleSum?category=novel&page=1'><span>小说</span></a></li>
					<li><a href='articleSum?category=picture&page=1'><span>美图</span></a></li>
					<li class="active"><a href='myself'><span>个人中心</span></a></li>
					<li><a href='connect'><span>联系我</span></a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-3"></div>
		<header class="col-md-6" style="text-align: center">
			<div style="position: relative;width: 300px;margin:0 auto" id="head">
				<img th:if="${session.session_user_head==null}" th:src="@{images/main.jpg}"
					 class="img-responsive img-circle tm-border" style="width: 300px;height: 300px;">
				<img th:if="${session.session_user_head!=null}" th:src="${session.session_user_head}"
					 class="img-responsive img-circle tm-border" style="width: 300px;height: 300px;">
				<div class="img-responsive img-circle tm-border" id="uploadHead"
					 style="background :#38383855;position: absolute;top :0;font-size: 24px;width: 300px;height: 300px;display: none">
					<form action="/uploadHead" enctype="multipart/form-data" method="post" style="position: absolute;top: 140px;left: 110px">
						<input id="changeHead" type="file" accept="image/*" name="file" style="display: none;"/>
						<input type="button" id="changeHeadButton" value="上传头像"
							   style="font-size: 20px;background: #11111111;cursor:pointer;color: #2e6da4;">
						<br>
						<input id="changeHeadSubmit" style="display: none" type="submit">
					</form>
				</div>
			</div>
			<hr>
			<h1 id="userName" class="tm-title bold shadow" th:text="${session.session_user.getName()}">hearing</h1>
			<h2 id="userAutograph" class="white bold shadow" th:text="${session.session_user.getAutograph()}">签名为空...</h2>
			<button id="updateUserInfo" onclick="updateUserInfo()">修改信息</button>
			<button id="loginOut">退出登录</button>
		</header>
		<div class="col-md-3"></div>

		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<!-----------------content-box-2-------------------->
				<section class="content-box box-2">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="header">
								<div class="wrapper">
									<h2 class="color-blue">咖啡港湾</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-1-3">
									<div class="wrap-col">
										<div class="portfolio-box">
											<img th:src="@{images/1.jpg}" class="img-responsive" alt="">
											<div class="portfolio-box-caption">
												<div class="portfolio-box-caption-content">
													<div class="project-category text-faded">
														<a href="articleSum?category=collectArticle&page=1">文字收藏</a>
													</div>
												</div>
											</div>
										</div>
										<div class="portfolio-box">
											<img th:src="@{images/4.jpg}" class="img-responsive" alt="">
											<div class="portfolio-box-caption">
												<div class="portfolio-box-caption-content">
													<div class="project-category text-faded">
														<a href="articleSum?category=collectPicture&page=1">图片收藏</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-1-3">
									<div class="wrap-col">
										<div class="portfolio-box">
											<img th:src="@{images/2.jpg}" class="img-responsive" alt="">
											<div class="portfolio-box-caption">
												<div class="portfolio-box-caption-content">
													<div class="project-category text-faded">
														<a href="articleSum?category=mineArticle&page=1">我的文字</a>
													</div>
												</div>
											</div>
										</div>
										<div class="portfolio-box">
											<img th:src="@{images/5.jpg}" class="img-responsive" alt="">
											<div class="portfolio-box-caption">
												<div class="portfolio-box-caption-content">
													<div class="project-category text-faded">
														<a href="articleSum?category=minePicture&page=1">我的图片</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-1-3">
									<div class="wrap-col">
										<div class="portfolio-box">
											<img th:src="@{images/3.jpg}" class="img-responsive" alt="">
											<div class="portfolio-box-caption">
												<div class="portfolio-box-caption-content">
													<div id="uploadForm"
														 style="height:150px;display:none;background: #4A4C4E;">
														<form action="/upload" enctype="multipart/form-data" method="post">
															<input id="uploadArticle" type="file"
																   accept="application/wps-office.docx,application/wps-office.doc" name="file"
																   style="display: none;"/>
															<input type="button" id="uploadArticleButton" value="上传文章"
																   style="height: 36px;width: 120px;margin-top: 10px;background: #1a1c1e">
															<br>
															<input id="uploadArticleBg" type="file" accept="image/*" name="fileBg"
																   style="display: none;"/>
															<input type="button" id="uploadArticleBgButton" value="上传文章视图"
																   style="height: 36px;width: 120px;margin-top: 10px;margin-bottom: 10px;background: #1a1c1e">
															<br>

															<select name="category" style="height: 36px;background: #1a1c1e">
																<option value="modernPoetry">现代诗歌</option>
																<option value="ancientPoetry">唐诗宋词</option>
																<option value="prose">随笔散文</option>
																<option value="novel">小说</option>
															</select>
															<input style="height: 36px;width: 50px;margin-left: 30px;background: #1a1c1e"
																   type="submit" value="上传">
														</form>
													</div>
													<div id="uploadLink" style="cursor:pointer;color: #2e6da4;">上传文章</div>
												</div>
											</div>
										</div>
										<div class="portfolio-box">
											<img th:src="@{images/6.jpg}" class="img-responsive" alt="">
											<div class="portfolio-box-caption">
												<div class="portfolio-box-caption-content">
													<div id="uploadForm1" style="height:100px;display:none;background: #4A4C4E;">
														<form action="/upload" enctype="multipart/form-data" method="post">
															<input type="hidden" name="category" value="picture">
															<input id="uploadPicture" type="file"
																   accept="image/*" name="file"
																   style="display: none;"/>
															<input type="button" id="uploadPictureButton" value="上传图片"
																   style="height: 36px;width: 120px;margin-top: 10px;background: #1a1c1e">
															<br>
															<input style="height: 36px;width: 50px;margin-top: 10px;background: #1a1c1e" type="submit" value="上传">
														</form>
													</div>
													<div id="uploadLink1" style="cursor:pointer;color: #2e6da4;">上传图片</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</section>

		<script type="text/javascript">
			$(function () {
                $("#uploadLink").click(function(){
                    if ($("#uploadForm").is(":hidden")){
                        $("#uploadForm").slideDown("slow");
                    }
                    else{
                        $("#uploadForm").slideUp("slow");
                    }
                });
                $("#uploadLink1").click(function(){
                    if ($("#uploadForm1").is(":hidden")){
                        $("#uploadForm1").slideDown("slow");
                    }
                    else{
                        $("#uploadForm1").slideUp("slow");
                    }
                });
                $("#uploadArticleButton").click(function () {
                    $("#uploadArticle").click();
                });
                $("#uploadArticleBgButton").click(function () {
                    $("#uploadArticleBg").click();
                });
                $("#uploadPictureButton").click(function () {
                    $("#uploadPicture").click();
                });
                $("#uploadPicture").change(function () {
                    $("#uploadPictureButton").val(this.value.substr(this.value.lastIndexOf('\\') + 1));
                });
                $("#uploadArticle").change(function () {
					$("#uploadArticleButton").val(this.value.substr(this.value.lastIndexOf('\\') + 1));
                });
                $("#uploadArticleBg").change(function () {
                    $("#uploadArticleBgButton").val(this.value.substr(this.value.lastIndexOf('\\') + 1));
                });
                $("#changeHeadButton").click(function () {
					$("#changeHead").click();
                });
                $("#changeHead").change(function () {
					$("#changeHeadSubmit").click();
                });
                $("#head").hover(function(){
                    $("#uploadHead").show(100)
                },function(){
                    $("#uploadHead").hide(100);
                });
            });

			function updateUserInfo() {
			    if ($("#updateUserInfo").text()==="保存") {
                    $.ajax({
                        url:"updateUserInfo",
                        data:"name="+$("#userName").text()+"&autograph="+$("#userAutograph").text(),
                        type:"POST",
                        success:function(result){
                            alert(result);
							location.reload(true)
                        }
                    });

                    $("#userName").attr("contentEditable", false);
                    $("#userAutograph").attr("contentEditable", false);
                    $("#updateUserInfo").text("修改信息");
				} else {
                    $("#userName").attr("contentEditable", true);
                    $("#userAutograph").attr("contentEditable", true);
                    $("#updateUserInfo").text("保存");
				}
            }

		</script>

		<!--////////////////////////////////////Footer-->
		<footer>
			<div class="copyright">
				<div class="zerogrid wrapper">
					Copyright @ hearing
					<ul class="quick-link">
						<li>Author：刘家东</li>
						<li>Email：1124031072@qq.com</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>